[submodule "ros-explorer"]
	path = ros-explorer
	url = https://github.com/imr-pucrs/ros-explorer
[submodule "Astar-move-base"]
	path = Astar-move-base
	url = https://github.com/imr-pucrs/Astar-move-base
[submodule "openai-ros"]
	path = openai-ros
	url = https://github.com/imr-pucrs/openai-ros

[submodule "USV-Guider-HTN-USVSIM"]
	path = USV-Guider-HTN-USVSIM
	url = https://github.com/imr-pucrs/USV-Guider-HTN-USVSIM
[submodule "rl-turtlebot"]
	path = rl-turtlebot
	url = https://github.com/imr-pucrs/rl-turtlebot
[submodule "ros-mpsoc"]
	path = ros-mpsoc
	url = https://github.com/imr-pucrs/ros-mpsoc
[submodule "occupancy_grid"]
	path = occupancy_grid
	url = https://github.com/imr-pucrs/occupancy_grid
[submodule "potential-fileds-ros"]
	path = potential-fileds-ros
	url = https://github.com/imr-pucrs/potential-fileds-ros
