[submodule "ros-explorer"]
	path = ros-explorer
	url = https://github.com/imr-pucrs/ros-explorer
[submodule "Astar-move-base"]
	path = Astar-move-base
	url = https://github.com/imr-pucrs/Astar-move-base
[submodule "openai-ros"]
	path = openai-ros
	url = https://github.com/imr-pucrs/openai-ros

[submodule "USV-Guider-HTN-USVSIM"]
	path = USV-Guider-HTN-USVSIM
	url = https://github.com/imr-pucrs/USV-Guider-HTN-USVSIM
